/* stylar kontaktinfo.html, samma princip som den andra css filen. */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background: #000000d0;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.contact-button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #0056b3;
}

.go-back-button {
    display: block;
    margin: 20px auto;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: #0056b3;
}


/* ifall jag vill göra hemsidan bättre så kan jag använda mig av media även här med 
såsom jag gjorde i den andra sidan alltså style.css som stylar index.html. För att göra storlekar
och fonter mer passande för olika skärm storlekar. */